.example-card{
  background-color:#212121;
  color: white;
  width: 450px;
}

@media only screen and (max-width: 700px) {
  .example-card{
    width: 300px;
  }
  .musica{
    width: 250px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1400px) {
  .example-card{
    width: 500px;
  }
}
