.example-card{
  background-color:#212121;
  color: white;
  width: 450px;
}
.image{
  height: 490px;
}
@media only screen and (max-width: 600px) {
  .example-card{
    width: 300px;
  }
  .image{
    height: 300px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1400px) {
  .example-card{
    width: 500px;
  }
}
